@import url('https://fonts.cdnfonts.com/css/phenomena');

:root {
  --primary: #FF964F;
  --secondary: #FF8A00;
  --tertiary: #FFC299;

  --white: #FFFFFF;
  --offwhite: #eee;
  --black: #000000;
}

body {
  width: 300px;
  height: 400px !important;
  max-height: 400px !important; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--offwhite);
  color: var(--black);
  padding: 16px;
}

.hidden {
  display: none !important;
}

.title {
  font-family: 'Phenomena', sans-serif;
}

.mainTitle {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  color: var(--primary);
}

.tagline {
  font-weight: 400;
  margin: 0;
}

.loginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loginBox {
  outline: none;
  border-radius: 5px;
  background-color: var(--white);
  padding: 8px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

input {
  border: 1px solid var(--offwhite);
  transition: all 0.1s ease-in-out;
}

input:focus {
  border: 1px solid var(--primary);
}

.loginButtons {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loginButtons > button {
  width: 48%;
}

button.primary {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

button.primary:hover {
  background-color: var(--secondary);
}

button.primary:active { 
  transform: scale(0.95);
}

#footerBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary);
}

#footerBar > button {
  border: none;
  outline: none;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  position: relative;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(10px) scale(1);
  transition: all 0.3s ease-in-out;
  padding-top: 32px;
  width: 120px;
  height: 100%;
}

#footerBar > button:active {
  transform: translateY(10px) scale(0.95);
  transition: all 0.2s;
}

#footerBar > button:hover {
  background-color: var(--secondary);
}

#footerBar > button i {
  font-size: 1.5rem;
  margin-bottom: 32px;
  transition: all 0.3s ease-in-out;
}

#footerBar > button.active i {
  margin-bottom: 6px;
}

#footerBar > button.active {
  transform: translateY(0px);
  padding-top: 0px;
  border-radius: 0px;
}

.scanButton {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 16px;
  font-weight: 600;
  margin: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

#notScanning, #scanning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#measurementsTab {
  height: calc(100% - 64px);
  overflow-y: auto;
}

.scanTabTool {
  background-color: var(--tertiary);
  color: black;
  padding: 8px;
  border-radius: 5px;
  position: relative;
  padding-left: 48px;
  margin-bottom: 10px;
}

.scanTabTool i:first-child {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.userProfile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--white);
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);

}

.userProfile b {
  font-weight: 600;
  color: var(--primary);
  font-size: 14px;
}

.userProfile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

#signOut, #contactSupport {
  margin-bottom: 10px;
  width: 100%;
}

#deleteAccountButton {
  background-color: transparent;
  color: red;
  opacity: 0.3;
}

.bottomAligned {
  position: absolute;
  bottom: 80px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white);
  border-radius: 8px;
}

table, th, td {
  border: 1px solid var(--offwhite);
}

th, td {
  padding: 8px;
  text-align: left;
}

.measurementTableNameCell {
  position: relative;
  padding-left: 24px;
}

.measurementTableNameCell i {
  position: absolute;
  cursor: pointer;
  left: 8px;
  top: 50%;
  transform: translateY(-50%) scale(1);
  transition: all 0.2s ease-in-out;
}

.measurementTableNameCell i:hover {
  transform: scale(1.1) translateY(-50%);
  transition: all 0.2s ease-in-out;
}

.editableCell {
  cursor: pointer;
}

.editableCell:hover {
  cursor: pointer;
  background-color: var(--offwhite);
}