@import url('https://fonts.cdnfonts.com/css/phenomena');

:root {
  --primary: #FF964F;
  --secondary: #FF8A00;
  --tertiary: #FFC299;

  --white: #FFFFFF;
  --offwhite: #eee;
  --black: #000000;
}

body {
  width: 300px;
  height: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--offwhite);
  color: var(--black);
  padding: 16px;
}

.hidden {
  display: none !important;
}

.title {
  font-family: 'Phenomena', sans-serif;
}

.mainTitle {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  color: var(--primary);
}

.tagline {
  font-weight: 400;
  margin: 0;
}

.loginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loginBox {
  outline: none;
  border-radius: 5px;
  background-color: var(--white);
  padding: 8px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

input {
  border: 1px solid var(--offwhite);
  transition: all 0.1s ease-in-out;
}

input:focus {
  border: 1px solid var(--primary);
}

.loginButtons {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loginButtons > button {
  width: 48%;
}

button.primary {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

button.primary:hover {
  background-color: var(--secondary);
}

button.primary:active { 
  transform: scale(0.95);
}

#footerBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary);
}

#footerBar > button {
  margin: 12px;
  border: none;
  outline: none;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(22px) scale(1);
  transition: all 0.3s ease-in-out;
}

#footerBar > button:active {
  transform: translateY(22px) scale(0.95);
  transition: all 0.2s;
}

#footerBar > button i {
  font-size: 1.5rem;
  margin-bottom: 32px;
  transition: all 0.3s ease-in-out;
}

#footerBar > button.active i {
  margin-bottom: 6px;
}

#footerBar > button.active {
  transform: translateY(0px);
}